* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f4f6;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}

h1, h2, h3 {
    color: #20395c;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

/* Estilos de Navegación (Header) */
.navbar {
    background-color: #20395c;
    color: white;
    padding: 10px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 120px;
}

/* Menú visible en pantallas grandes */
.navbar nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
}



.navbar nav ul li a {
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

.navbar nav ul li a:hover {
    color: #f0c674;
}

/* Estilo para los enlaces activos */
nav ul li a.active {
    color: black;
    background-color: white;
    border-radius: 5px;
}


/* Menú hamburguesa */
.hamburger-menu {
    display: block;
    cursor: pointer;
    z-index: 999;
}

.hamburger-menu span {
    display: block;
    width: 30px;  /* Ancho de las líneas del menú */
    height: 3px;  /* Altura de cada línea */
    background-color: #ffffff;  /* Color de las líneas */
    margin: 6px 0;  /* Separación entre las líneas */
    transition: all 0.3s;  /* Animación de transición para la transformación */
}

.menu-toggle {
    display: none;
}


section{
    display: flex;
    flex-direction: column;
    text-align: center;
}

section .services-container{
    display: flex;
    flex-direction: row;

}

.services-section p {
    margin: 20px 0;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

/* Estilos para la sección de valores */
.values-section {
    text-align: center;
    margin-top: 30px;
}

.values-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre las columnas */
    margin-top: 20px;
    flex-wrap: wrap; /* Para que sea responsive */
}

.value-box {
    background-color: #e3e3e3; /* Color de fondo similar al de la imagen */
    padding: 20px;
    border-radius: 10px;
    width: 45%; /* Ancho de cada columna */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de tarjeta */
}

.value-box p {
    margin: 0;
}


/* Footer */
footer {
    background-color: #20395c;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer img {
    width: 100px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

footer p {
    margin-bottom: 10px;
}

.github-link {
    font-size: 24px;
    color: white;
}

.github-link:hover {
    color: #f0c674;
}


/* Ajustes Responsive */


@media (max-width: 400px) {
    .navbar {
        padding: 10px 0;
    }

    .navbar .container {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .navbar .logo {
        width: 50px;
    }

    .navbar nav ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #e9f1fa;
        position: fixed;
        top: 70px; 
        left: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 120px); 
        width: 100vw;
        z-index: 2;
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .menu-toggle:checked ~ nav ul{
        display: flex;
        opacity: 1;
    }


    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f8f9fa;
        padding: 10px 0;
    }

    footer .footer {
        flex-direction: column;
        text-align: center;
    }

    footer .footer-left {
        margin-bottom: 10px;
    }

    footer .footer-left img {
        width: 80px;
    }

    footer .footer-left p {
        font-size: 13px;
    }

    footer .github-link {
        font-size: 20px;
    }
}

/* Mostrar el menú normalmente en pantallas grandes */
@media (min-width: 769px) {
    nav ul {
        display: flex; /* Mostrar el menú horizontalmente en pantallas grandes */
    }

    .hamburger-menu {
        display: none; /* Ocultar el menú hamburguesa en pantallas grandes */
    }
}


/* Mostrar el menú hamburguesa en pantallas chicas y organizar el contenido */
@media (max-width: 768px) {

    .hamburger-menu {
        display: block; /* Mostrar el menú hamburguesa en pantallas pequeñas */
    }
    nav ul {
        display: flex; /* Mostrar el menú cuando se activa el checkbox */
        flex-direction: column;
    }

    nav {
        display: none; /* Ocultar el menú horizontal en pantallas pequeñas */
    }

    /* Cuando el menú hamburguesa está activo, mostrar el menú */
    .menu-toggle:checked ~ nav {
        display: flex; /* Mostrar el menú cuando se activa el checkbox */
        flex-direction: column;
        background-color: #20395c;
        position: absolute;
        top: 110px;
        left: 0;
        right: 0;
        padding: 20px;
        z-index: 1;
    }

    .services-container, .soporte-icons, .projects-container, .team {
        flex-direction: column;
        align-items: center;
    }

    .service-box, .soporte-box, .projects-box, .projects-extrabox {
        width: 80%; /* Asegura que se ajuste en pantallas pequeñas */
        max-width: 100%;
        margin-bottom: 20px;
    }


    footer {
        padding: 15px;
    }

    footer img {
        width: 80px;
    }
}